@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}

html, body {
    min-height: 100vh;
  


}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: Passion One, Arial, Helvetica, sans-serif;
    font-size: 10vw;
    letter-spacing: 7px;

}

header > p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}    

main {
    font-size: 3.5vw;
    font-family: Sriracha, Arial, Helvetica, sans-serif; 
    
}

main > p {
    
}

strong {
    color: white;
    font-weight: bold;
}

section {
    padding-top: 1.5em;
    padding-left: 35px;
    padding-bottom: 2.5em;
    text-align: left;
}

.p1 {
   
}
.imagem2 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-attachment: fixed;

}

.p2 {
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    
    
}
.imagem5 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-attachment: fixed;


}

.p5 {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.459);

}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

footer > p {
    padding: 10px ;
}